.article-card {
  border: 2px solid #fff;
  border-radius: 16px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.03);
  max-width: 35%;
  margin-left: 100px;
}

.article-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.article-left a {
  font-size: 50px;
}

.article-right {
  flex: 0 0 auto;
  max-width: 280px;
}

.article-right img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}